<div align="center" class="buttons-container">
<a href="https://github.com/PirateCool/UI-COMPONENT-1" class="btn-green">Github</a>
<a href="https://github.com/PirateCool" class="btn-blue">Profile git</a>
<a href="https://www.thehackingproject.org/dashboard/weeks/7/days/3" class="btn-red">Corrections</a>
<a href="https://thehackingproject.slack.com/" class="btn-black">Slack</a>
<a href="#" class="btn-grey">Disabled Button</a>


</div>
