<div align="center" class="buttons-container">
<a href="#" class="btn-green">Succes Button</a>
<a href="#" class="btn-blue">Info Button</a>
<a href="#" class="btn-red">Warning Button</a>
<a href="#" class="btn-black">Black Button</a>
<a href="#" class="btn-grey">Disabled Button</a>


</div>
