<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://vignette.wikia.nocookie.net/onepiece/images/d/dd/Village_de_Fushsia_Anime_Infobox.png/revision/latest?cb=20140912163732&path-prefix=fr');">
  <div class="card-category">THP - W7D1</div>
  <div class="card-description">
    <h2>UI KIT</h2>
    <p>A small UI components library</p>
  </div>
  <img class="card-user" src="https://res.cloudinary.com/teepublic/image/private/s--vTQPYgL9--/t_Preview/b_rgb:ffffff,c_limit,f_jpg,h_630,q_90,w_630/v1503889515/production/designs/1855155_1.jpg">
  <a class="card-link" href="#" ></a>
</div>