<div id="cards-container" class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">


          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://media.melty.fr/article-3544630-head/one-piece.jpg');">
            <div class="card-category">Epeiste</div>
              <div class="card-description">
                <h2>Ronoroa Zoro</h2>
                  <p>Bras droit des Mugiwara</p>
              </div>
              <img class="card-user" src="https://www.nautiljon.com/images/perso/00/52/roronoa_zoro_25.jpg">
                <a class="card-link" href="#" ></a>
             </div>


    </div>

        <div class="col-xs-12 col-sm-4">
          <div class="card"> 
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://vignette.wikia.nocookie.net/loveinterest/images/6/63/Luffy.jpg/revision/latest?cb=20180804062945');">
              <div class="card-category">Gomu Gomu No Mi</div>
              <div class="card-description">
                <h2>Monkey D Luffy</h2>
                <p>Capitaine</p>
              </div>
              <img class="card-user" src="https://res.cloudinary.com/teepublic/image/private/s--vTQPYgL9--/t_Preview/b_rgb:ffffff,c_limit,f_jpg,h_630,q_90,w_630/v1503889515/production/designs/1855155_1.jpg">
              <a class="card-link" href="#" ></a>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">


         <div class="card"> <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://medias.spotern.com/spots/w640/66078-1532336916.jpg');">
          <div class="card-category">Baton Climatique</div>
            <div class="card-description">
              <h2>Nami</h2>
              <p>Navigatrice des Mugiwara</p>
            </div>
            <img class="card-user" src="https://pre00.deviantart.net/da63/th/pre/i/2017/215/b/5/one_piece___nami_by_melonciutus-dbir1ju.png">
            <a class="card-link" href="#" ></a>
         </div>


    </div>
  </div>
</div>
</div>