<div class="tabs" role="tablist">
  <a class="tab active" href="#">
    <h3>10</h3>
    <p>Pirates</p>
  </a>
  <a class="tab" href="#">
    <h3>921</h3>
    <p>Chapitres</p>
  </a>
  <a class="tab" href="#">
    <h3>1er</h3>
    <p>des ventes</p>
  </a>
  <a class="tab" href="#">
    <h3>1000</h3>
    <p>barils de rhum & + </p>
  </a>
</div>


