  <div class="navbar-thp">
  <!-- Logo -->
  <a href="/" class="navbar-thp-brand">
    <img src="https://i2.wp.com/laboate.com/next3/wp-content/uploads/2018/05/hacking-project.png?fit=240%2C239" alt="logo">
  </a>

  <!-- Right Navigation -->
  <div class="navbar-thp-right hidden-xs hidden-sm">

    <a href="" class="navbar-thp-item navbar-thp-link">Code</a>
    <a href="" class="navbar-thp-item navbar-thp-link">Design</a>
    <a href="" class="navbar-thp-item navbar-thp-link">Projets</a>

    <!-- Profile picture with dropdown list -->
    <div class="navbar-thp-item">
      <div class="dropdown">
        <img src="https://ca.slack-edge.com/T3W8B88JW-UD3CTPE2F-1b441ce600db-72" class="avatar dropdown-toggle" id="navbar-thp-menu" data-toggle="dropdown">
        <ul class="dropdown-menu dropdown-menu-right navbar-thp-dropdown-menu">
          <li><a href="#">Code</a></li>
          <li><a href="#">Design</a></li>
          <li><a href="#">Log Out</a></li>
        </ul>
      </div>
    </div>
  </div>