.tabs-container {
  
}

.tabs {
  width: 70%;
  margin: 30px auto;
  padding: 20px;
  background-image: url("https://vignette.wikia.nocookie.net/onepiece/images/a/a9/Mereveille_Ruins.png/revision/latest?cb=20121118065231");
  height: 300px;
}

.nav {}
.nav-tabs {
  display: flex;
  justify-content: space-around;
}

.nav-tabs:first-child {
  border-radius: 15px 0px 0px 0px;
}

.nav-tabs:last-child {
  border-radius: 0px 0px 15px 0px;
}

.nav-item {

}
.nav-link {}
.nav-link active {}
.tab-content {
  text-align: right;
  padding: 30px; }

.nav-tabs a {
  color: black;
  font-weight: bolder;
  opacity: 1;
}